footer {
    margin-top: 50px;
    background-color: rgb(38, 38, 74) !important;
}

footer div {
    color: rgba(255,255,255,.5) !important;
}

footer div a {
    color: rgba(255,255,255,.5) !important;
}