body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    margin-top: 50px;
    text-align: center;
}

.cookie {
    margin-left: 20px;
    border-radius: 5px;
    max-width: 100px;
}